body {
    background-color: darkgray;
    margin: 0;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer, footer > a {
    color: white;
}

button {
    width: 19%;
    height: 100px;
    font-size: 30px;
    border-radius: 7%;
    color: white;
    background-color: dimgray;
}

button:hover {
    background-color: rgb(126, 125, 125);
}

a {
    text-decoration: none;
    color: white;
}

header, footer {
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

footer {
    height: 15%;
}

header {
    height: 10%;
}

.last {
    width: 59%;
}

.special {
    background-color: rgb(113, 185, 4);
    border-top: rgb(136, 221, 8);
    border-left: rgb(136, 221, 8);
}

.special:hover {
    background-color: rgb(136, 221, 8);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.displaySection {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    background-color: rgb(68, 97, 67);
    height: 100px;
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3%;
}

.output {
    font-size: 35px;
    color: rgb(3, 3, 101);
    font-weight: 1000;
    overflow-y: hidden;
    overflow-x: auto;
}

.screen, .display {
    border-radius: 3%;
}
.display {
    height: 550px;
    width: 25%;
    background-color: darkcyan;
    padding: 2%;
}

/* custom scrollbar for all browsers except firefox*/
.output::-webkit-scrollbar {
    height: 5px;
}

.output::-webkit-scrollbar-track {
    background: rgb(68, 97, 67);
}

.output::-webkit-scrollbar-thumb {
    background: rgb(3, 3, 101);
}

.operation {
    background-color:rgb(186, 156, 107);
}

.operation:hover {
    background-color:rgb(213, 180, 127);
}

.additional {
    background-color: rgb(197, 113, 239);
}

.additional:hover {
    background-color: rgb(210, 155, 237);
}

.row {
    display: flex;
    flex-wrap: nowrap;
    height: 25%;
    gap: 1.5%;
}

.equals {
    background-color:rgb(192, 100, 153);
}

.equals:hover {
    background-color:rgb(188, 127, 162);
}